<?xml version="1.0" encoding="utf-8" ?>
<phpunit
		colors="true"
		bootstrap="bootstrap.php"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		>
	<testsuites>
		<testsuite name="frontend">
			<directory prefix="test" suffix=".php">general</directory>
			<directory prefix="test" suffix=".php">selenium</directory>
			<exclude>selenium/modules</exclude>
		</testsuite>
	</testsuites>
</phpunit>
